version: 2
updates:
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    groups:
      cargo-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: "build"
      include: "scope"

  - package-ecosystem: rust-toolchain
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: "build"
      include: "scope"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      gh-actions:
        patterns:
          - "*"
    commit-message:
      prefix: "ci"
      include: "scope"
